# Logistic Regression

Logistic Regression is a Binary Classification Algorithm that is used when the target variable is categorical. It models the probability of a certain class (like 0 or 1) using a logistic(sigmoid) function.

The goal of logistic regression is to find the best-fitting model that predicts the probability of an instance belonging to a particular class. The model outputs values between 0 and 1, which are interpreted as probabilities.

### Hypothesis function for Logistic Regression

The hypothesis function for logistic regression is expressed as:

$$
h_\theta(x) = g(\theta^Tx)
$$

where $g(z) = \frac{1}{1+e^{-z}}$ is the **Sigmoid Function**.  

Hence, we have:

$$
h_\theta(x) = \frac{1}{1 + e^{-\theta^T x}}
$$

where:
- $h_\theta(x)$ is the predicted probability that the instance belongs to class 1.
- $\theta$ is the parameter vector.
- $x$ is the feature vector.

### Log-Likelihood Function for Logistic Regression

To train the logistic regression model, we aim to maximise the log-likelihood function, which represents the success rate of the model:

$$
\ell(\theta) = \sum_{i=1}^{m} \ [ \ y^ilog(h_\theta(x^i)) + (1-y^i)log(1-h_\theta(x^i)) \ ]
$$

Where:
- $m$ is the number of training examples.
- $y^i$ is the label for the $i^{th}$ training example (either 0 or 1).
- $h_\theta(x^i)$ is the predicted probability for the $i^{th}$ training example.

### Gradient Ascent

To maximize the log-likelihood function and find the optimal values for the parameters $ \theta $, we use **Gradient Ascent**. The update rule for each parameter $ \theta_j $ is:

$$
    \theta_j := \theta_j + \sum_{i=1}^m \ \frac{\partial{\ell(\theta)}}{\partial{\theta_j}}
$$

By substituting the value of l(\theta) from above and solving the derivatives, we get:

$$
\theta_j := \theta_j + \alpha \sum_{i=1}^{m} \ (y^i - h_\theta(x^i)) x_j^i
$$

Where:
- $ \alpha $ is the learning rate.
- $ m $ is the number of training examples.

# Implementation of Logistic Regression

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_diabetes
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
def sigmoid(z):
    return 1/(1+np.exp(-z))

## Loading Data

In [3]:
CSVPATH = 'purchase.csv'
df = pd.read_csv(CSVPATH)
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df = df.drop('User ID', axis=1).dropna()

In [5]:
df['Gender'] = df['Gender'].replace({'Male':1,'Female':0})

/tmp/ipykernel_9390/2087688777.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Gender'] = df['Gender'].replace({'Male':1,'Female':0})

## Pre-Processing

In [6]:
dat = df.to_numpy()
np.random.shuffle(dat)
x = dat[:,0:-1]

In [7]:
y = dat[:,-1]

In [8]:
x_mean = x.mean(axis=0)
x_std = x.std(axis=0)

In [9]:
x = x.astype(float)
x[:,1:3] = (x[:,1:3]-x_mean[1:3])/x_std[1:3]
x = np.hstack([np.ones((400,1)),x])

In [10]:
l_train, l_test = 320,80
train_x, test_x = x[0:l_train,:], x[l_train:,:]
train_y, test_y = y[0:l_train], y[l_train:]

## Training- Batch Gradient Descent

In [11]:
alpha = 0.01
parameters = 3
theta = np.zeros(parameters+1)
prevcost = float('inf')
threshold = 1e-6

In [12]:
while True:
    hypothesis = sigmoid(train_x @ theta)
    theta = theta + (alpha / l_train) * (train_x.T @ (train_y - hypothesis))
    currcost = (1 / (2 * l_train)) * np.sum(np.square(train_y-hypothesis))
    if currcost-prevcost <= threshold:
        break
    prevcost = currcost

## Testing

In [13]:
test_predictions = sigmoid(test_x @ theta) >= 0.5
accuracy = np.mean(test_predictions == test_y) * 100
print("Test Accuracy:", accuracy, "%")

Test Accuracy: 82.5 %